@font-face {
    font-family: 'SCDream6';
    src:url('/file/font/SCDream3.otf') format('woff')
}

@font-face {
    font-family: 'SCDream9';
    src:url('/file/font/SCDream6.otf') format('woff')
}

html body {
    font-family: SCDream6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@media (min-width: 1500px) {
    .m {
        margin-left: calc((100vmax - 1500px) / 2);
        margin-right: calc((100vmax - 1500px) / 2);
        width: 1500px;
    }
    .p {
        margin: 0;
        padding-left: calc((100vmax - 1500px) / 2);
        padding-right: calc((100vmax - 1500px) / 2);
        width: 1500px;
    }
}

.header {
    position: sticky;
    margin: 0;
    padding: 0;
    top: 0;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgb(200,200,200);
}

.header_inner{
    display: flex;
    align-items : center;
    height: 60px;
}

.header_left_items {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    display: inline;
}

.header_left_items ul {
    margin: 0;
    padding: 0;
}

.header_left_items ul li {
    margin: 0;
    padding: 0;
    margin-right: 20px;
    display: inline;
    list-style: none;
}

@media (max-width: 576px) {
    .header_left_items {
        display: none;
    }
}
@media (min-width: 576px) {
    #menu {
        display: none;
    }
}

.header h3 {
    margin: 0;
    padding: 0;
    margin-left: 15px;
    font-family: SCDream9;
}
.header_right_items {
    display: flex;
    margin-left: auto;
}

.header_right_items img {
    margin: 0;
    padding: 0;
    padding: 10px;
    border-radius: 10px;
}

.header_right_items img:hover {
    background-color: rgb(240,240,240);
}

.header_menu {
    display: none;
    z-index: 10;
    top: 60px;
    width: 100%;
}

.header_menu ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.header_menu ul li {
    padding: 5px;
}

.footer {
    background-color: rgb(245,245,245);
    border-top: 1px solid rgb(200,200,200);
    margin-top: 35px;
}

.footer_item {
    padding-left: 15px;
    padding-right: 15px;
}

.footer_item ul li {
    list-style: none;
    margin: 0;
    left: 0;
    color: rgb(100,100,100);
}
.footer_item ul {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.footer_copyright {
    margin: 0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid rgb(200,200,200);
    color: rgb(150,150,150);
    margin-top: 30px;
}

@media (min-width: 576px) {
    .footer_ {
        display: flex;
    }
    .footer_ > .footer_item {
        flex: 1;
    }

    .footer_item ul {
        margin: 0;
    }
}