.today_message {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.today_message h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.today_message p {
    margin: 0;
    padding: 0;
    color: rgb(80,80,80);
}

.item h2 {
    border-bottom: 1px solid rgb(200,200,200);
    padding-bottom: 15px;
}