.today_message {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.today_message h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.today_message p {
    margin: 0;
    padding: 0;
    color: rgb(80,80,80);
}

.item_header {
    border-bottom: 1px solid rgb(200,200,200);
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.item_header a {
    margin-left: auto;
    color: rgb(100,100,100)
}

.item_header a:hover {
    cursor: pointer;
}

@media (max-width: 576px) {
    .item_header {
        margin-left: 15px;
        margin-right: 15px;
    }
    .item_header a {
        display: none;
    }
}

.item_header h3 {
    margin: 0;
    padding: 0;
}

.item {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 1vw;
    margin-top: 20px;
    display: flex;
    overflow: hidden;
}

#recent {
    display: block;
}

@media (max-width: 576px) {
    .item {
        display: block;
        margin-left: 15px;
        margin-right: 15px;
    }
}


.item .item_info {
    flex: 1;
}

.item img {
    width: 50%;
    display: inline-block;
    object-fit: fill;
    aspect-ratio: 1/1;
}

#recent img {
    width: 100%;
    display: block;
    aspect-ratio: 16/9;
}

@media (max-width: 576px) {
    .item img {
        width: 100%;
        display: block;
    }
}

.item_info {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.item_info .top {
    color: rgb(120,120,120);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.item_info .top p {
    margin: 0;
    display: inline-block;
}

.item_info .middle h2 {
    margin: 0;
    padding: 0;
}

.item_info .bottom {
    margin: 0;
    margin-top: auto;
    margin-bottom: 10px;
}
.item_info .bottom a:hover{
    cursor: pointer;
}
.item_info .bottom a {
    padding: 10px;
    text-align: center;
    background-color: #18181B;
    color: #f0f0f0;
    border-radius: 6px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.items .item {
    flex: 1 1 calc(33.33% - 40px / 3);
    box-sizing: border-box;
    padding: 15px;
    max-width: calc(33.33% - 20px);
}

@media (max-width: 800px) {
    .items .item {
        flex: 1 1 calc(50% - 40px / 3);
        box-sizing: border-box;
        padding: 15px;
        max-width: calc(50% - 20px);
    }
}


.item_info .bottom p {
    margin: 0;
}

@media (max-width: 576px) {
    .item_info .bottom {
        margin-top: 30px;
    }
    .items .item {
        flex: 1 1 100%;
        box-sizing: border-box;
        padding: 15px;
        max-width: 100%;
    }
}
