<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEON06 - Blog</title>

    <link rel="stylesheet" href="/file/css/color.css"/>
    <link rel="stylesheet" href="/file/css/main.css"/>
    <link rel="stylesheet" href="/file/css/blog_main.css"/>
    <link rel="stylesheet" href="/file/css/font.css"/>
</head>
<body>
    <div class="center">
        <div class="title" onclick="location.href='/'">
            <h1>SEON06</h1>
            <h3>블로그</h3>
        </div>
    </div>

    <div class="side_bar">
        <h3>카테고리</h3>
        <ul>
            <li>123123</li>
        </ul>
    </div>

    <div class="center">
        <div class="viewport">
            <div class="items">

            </div>
        </div>
    </div>

    <div class="darkchange" onclick="darkChange();">
        <div class="box">
            <div class="inner">
                DarkMode
            </div>
        </div>
    </div>
    <script src="/file/js/darkmode.js"></script>
</body>
</html>