<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/file/css/main.css"/>
    <link rel="stylesheet" href="/file/css/mainmenu.css"/>
    <title>SEON06</title>
</head>
<body>
    <div class="header">
        <div class="header_inner">
            <h3>SEON06</h3>
            <div class="header_left_items">
                
                <ul>
                    <li><a>HelloWorld</a></li>
                    <li><a>HelloWorld</a></li>
                    <li><a>HelloWorld</a></li>
                </ul>
            </div>
            <div class="header_right_items">
                <img id="darkmode" src="/file/img/light_mode.svg">
                <img id="menu" src="/file/img/menu.svg">
            </div>
        </div>
        <div class="header_menu">
            <ul>
                <li><a>Home</a></li>
                <li><a>Blog</a></li>
                <li><a>About</a></li>
            </ul>
        </div>
        <script src="/file/js/header.js"></script>
    </div>

    

    <div class="today_message">
        <h2>Thoughts, stories and ideas.</h3>
        <p>Welcome to my personal corner of the internet. I write about design,</p>
        <p>technology, and finding balance in our digital lives.</p>
    </div>

    <div class="item">
        <h2>Featured Post</h2>
    </div>

    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <p>asdasd</p>
    <div class="footer">
        <div class="footer_">
            <div class="footer_item">
                <h3>SEON06</h3>
                <ul>
                    <li>
                        <p>A personal blog about design, technology, and finding balance in our digital lives.</p>
                    </li>
                </ul>
            </div>

            <div class="footer_item">
                <h3>Navigation</h3>
                <ul>
                    <li><a>Home</a></li>
                    <li><a>Blog</a></li>
                    <li><a>About</a></li>
                </ul>
            </div>

            <div class="footer_item">
                <h3>Social</h3>
                <ul>
                    <li><a>Github</a></li>
                    <li><a>Instargram</a></li>
                    <li><a>E-mail</a></li>
                </ul>
            </div>
        
        </div>
        <p class="footer_copyright">© 2025 seon06. All rights reserved.</p>
    </div>
</body>
</html>