<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEON06 - Site</title>

    <link rel="stylesheet" href="/file/css/color.css"/>
    <link rel="stylesheet" href="/file/css/main.css"/>
    <link rel="stylesheet" href="/file/css/mainmenu.css"/>
    <link rel="stylesheet" href="/file/css/font.css"/>
</head>
<body>
    <div class="center">
        <div class="title">
            <h1>SEON06</h1>
            <h3>사이트</h3>
        </div>
    </div>
    <div class="center">
        <div class="viewport">
            <div class="box first">
                <div class="inner control_bar">
                    <ul>
                        <li><a href="https://github.com/seon0313">GitHub</a></li>
                        <li><a href="https://pages.seon06.co.kr">GitHub Pages</a></li>
                        <li><a>서울또봇고</a></li>
                        <li><a href="/blog">블로그</a></li>
                    </ul>
                </div>
            </div>
            <div class="center">
                <div class="box big">
                    <div class="inner one">
                        <div class="cetner">
                            <img src="/file/img/draw-4067546.svg">
                        </div>
                    </div>
                    <div class="inner">
                        <h3>SEON06 - Site</h3>
                        <p>C</p>
                    </div>

                    <div class="inner">
                        <h3>SEON06</h3>
                        <p>개인 웹사이트.</p>
                    </div>

                    <div class="inner">
                        <h3>SEON06</h3>
                        <p>개인 웹사이트.</p>
                    </div>
                    
                </div>
            </div>
            <p>Copyright 2024. seon06. all rights reserved.</p>
        </div>
    </div>
    <div class="darkchange" onclick="darkChange();">
        <div class="box">
            <div class="inner">
                DarkMode
            </div>
        </div>
    </div>
    <script src="/file/js/darkmode.js"></script>
</body>
</html>